.App {
  overflow: hidden;
  background-color: #343541;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  max-height: 72px;
  pointer-events: none;
}

.App-icon {
  max-height: 24px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.App-icon:hover {
  transform: scale(1.2);
}

.HelpText {
  font-family: sans-serif;
  margin-top: 10px;
  padding-bottom: 4vh;
  font-size: 24px;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.TextBox {
  border-radius: 5px;
}

.Header {
  color: #f6f5ff;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  padding-left: 2vw;
  padding-top: 2vh;
  column-gap: 1vw;
}

.Footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

.disclaimer {
  font-family: sans-serif;
  font-size: 12px;
  color: #b0b0bd;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  flex: 2;
}

.TextFooter {
  display: flex;
  align-items: center;
  width: 94vw;
  height: 8vh;
  max-height: 50px;
  margin-top: 1vh;
  border-radius: 10px;
  border-style: solid;
  background-color: #343541;
  border-color: #555661;
  border-width: 2px;
}

.send-icon {
  max-height: 24px;
  margin-right: 1vw;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.send-icon:hover {
  filter: brightness(150%);
}

.TextBox {
  width: 90vw;
  border-radius: 10px;
  border-style: none;
  background-color: #343541;
  border-color: #555661;
  font-family: sans-serif;
  font-size: 100%;
  color: #f7f5ff;
  text-wrap: normal;
  padding-left: 2vw;
  outline: none;
}

.Body {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2.8vw;
  row-gap: 0.75vw;
  column-gap: 1vh;
}

.Prompts {
  width: 46.75vw;
  height: 7vh;
  background-color: #343541;
  border-radius: 10px;
  border-style: solid;
  background-color: #343541;
  border-color: #555661;
  font-family: sans-serif;
  font-size: min(2vw, 2vh);
  color: #f7f5ff;
  cursor: pointer;
}

.Prompts:hover {
  background-color:#40414f;
  transition: 0.2s;
}

textarea::placeholder {
    color: #f7f5ff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.modal {
  position: fixed;
  width: 60%;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #555661;
  padding: 16px;
  border-radius: 12px;
  overflow-y: scroll;
  z-index: 200;
  color: white;
  text-align: center;
}

.modal a,
.modal button {
  color: white;
}

.modal ul {
  list-style-type: none;
}

.modal ul li a {
  text-decoration: none;
  color: #B3D4FC;
}

.modal ul li a:hover {
  color: #7297c0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
}

.modal-header h2 {
  margin-left: 20px;
}

.modal-close-button {
  margin-right: 20px;
  max-height: 24px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.modal-close-button:hover {
  transform: scale(1.2);
}

